<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(136, 155, 189);">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {%for message in messages %}
        <li>
            {{message}}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form action="/" method="post">
        <h1 style="text-align: center;">
            <legend>Contact Form</legend>
        </h1>
        <fieldset style="font-weight: bold; font-size: medium; background-color: rgb(148, 90, 112);">
            {{ form.hidden_tag() }}
            <div>
                {{form.Name.label}} <br>
                {{form.Name}}
                <br>
                {{form.Gender.label}} <br>
                {{form.Gender}}
                <br>
                {{form.Address.label}} <br>
                {{form.Address}}
                <br>
                {{form.Email.label}} <br>
                {{form.Email}}
                <br>
                {{form.Age.label}} <br>
                {{form.Age}}
                <br>
                {{form.Language.label}} <br>
                {{form.Language}}
                <br>
                {{form.Submit}}
            </div>
        </fieldset>
    </form>
</body>

</html>