<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/form_rec" method="post">
    <h3>
        Student Information
    </h3>
    <h4>
        Name <br>
        <input type="text" name="nm"> <br>
        Address<br>
        <input type="text" name="addr"> <br>
        City<br>
        <input type="text" name="city"><br>
        Pin Code <br>
        <input type="text" name="pincode"><br>
        <br>
        <input type="submit" name="submit"><br>
    </h4>
    </form>
</body>
</html>