<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="http://127.0.0.1:5000/result" method="post">
        <p>
            Physics     <input type="text" name="Physics">
        </p>
        <p>
            Maths       <input type="text" name="Maths">
        </p>
        <p>
            Chemistry   <input type="text" name="Chemistry">
        </p>
        <p>
            English     <input type="text" name="English">
        </p>
        <p>
            <input type="submit" value="submit">
        </p>
    </form>
</body>

</html>